<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div style="margin: auto;width: 50%; border: 3px solid burlywood; padding: 10px;">
        <select [(ngModel)]="selectedCity" (ngModelChange)="onCitySelected($event)">
          <option *ngFor = "let city of cities" [value] = "city.cityId">
            {{city.name}}
          </option>
        </select>
  </div>
  <div style="margin: auto;width: 50%; border: 3px solid burlywood; padding: 10px;">
    <select [(ngModel)]="selectedCinema" (ngModelChange)="onCinemaSelected($event)"> 
      <option *ngFor = "let cinema of cinemas" [value]="cinema.cinemaId">
        {{cinema.name}}
      </option>
    </select>
</div>
<div style="margin: auto;width: 50%; border: 3px solid burlywood; padding: 10px;">
  <select [(ngModel)]="selectedCinemaHall" (ngModelChange)="onCinemaHallSelected($event)"> 
    <option *ngFor = "let cinemaHall of cinemaHalls" [value]="cinemaHall.cinemaHallId">
      {{cinemaHall.name}}
    </option>
  </select>
</div>
<div style="margin: auto;width: 50%; border: 3px solid burlywood; padding: 10px;">
  <select [(ngModel)]="selectedMovieSeance"> 
    <option *ngFor = "let movieSeance of movieSeances" [value]="movieSeance.movieSeanceId" ng-options="(m.title+' '+m.projectionDate) for m in movieSeances">
      {{movieSeance.movieTitle}} , displayed:  {{movieSeance.projectionDate}}
    </option>
  </select>
</div>

<h1>Search Movie</h1>
  <div class="search-box">
    <div class="search-icon"><i class="fa fa-search search-icon"></i></div>
    <form action="" class="search-form">
      <input type="search" (ngModelChange)="searchSpecifiedMovies(key.value)" #key="ngModel" ngModel
	  name="key" placeholder="Search movies" class="search" autocomplete="on">
    </form>
        <div class="go-icon"><i class="fa fa-arrow-right"></i></div>
  </div>

    <div class="row">
        <div *ngFor = "let movie of movies"class="film">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{movie?.image}}" width="60" height="90" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{movie?.title}}</h5>
                        <p class="details" id = "director">Director: {{movie?.director}}</p>
                        <p class="details" id = "description">Description: {{movie?.description}}</p>
                        <p class="details" id = "duration">Duration: {{movie?.duration}}</p>
                        <p class="details" id = "releaseDate">releaseDate: {{movie?.releaseDate}}</p>
                        <p class="details" id = "mark">Mark: {{movie?.mark}}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        
        
